@page
@model IndexModel
@{
    ViewData["Title"] = "MyPokedex";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao MyPokedex</h1>
    <p>Aqui voce encontra seus pokemons favoritos!</p>
</div>
